# --- gem5 Build Artifacts ---
# Ignora a pasta de build do gem5, que é extremamente pesada
gem5/build/
gem5/ext/
gem5/.sconsign.dblite
gem5/m5out/

# --- Resultados de Simulação ---
# Ignora os outputs das suas simulações para não sujar o Git
# Você deve manter os resultados originais apenas localmente
results/*
m5out/
*.log
*.ini
*.json

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Sistema e IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Workloads ---
# Ignora binários grandes que você possa colocar para teste
workloads/*.bin
workloads/*.out